<section class="screen active" id="me">
    <h1 class="hidden">
        Pierre Romera
        <img src="./img/arrow-right.png" class="arrow" alt="" />
        Qui suis-je ?
    </h1>

    <h2>
        Directeur Général et co-fondateur de <a href="http://jplusplus.org" class="open-window">Journalism++</a>
    </h2>
    <p class="desc">
        Journalism++ accompagne les rédactions dans leur transition vers le web des données.
    </p>

    <h2>
        Enseignant à l'<a href="http://www.journalisme.sciences-po.fr" target="_blank">École de Journalisme de Science Po</a>
    </h2>
    <p class="desc">J'initie les journalistes au langage et au développement numérique.</p>

    <h2>
        Intervenant à l'<a href="http://esj-lille.fr/" class="open-window">ESJ Lille</a> et au <a href="http://www.cfpj.com/ecole-de-journalisme/" class="open-window">CFJ Paris</a>
    </h2>
    <p class="desc">
        J'interviens en école, en entreprise et en conférence pour parler des sujets liés au <a href="https://fr.wikipedia.org/wiki/Journalisme_de_donn%C3%A9es" class="open-window">Journalisme de données</a>.
    </p>


    <h2>Développeur Freelance</h2>
    <p class="desc">
        Python, Django, Node.js, Angular, D3, HTML5, Data Visualisation, ...
    </p>

    <div class="before">
        <h2>
            Directeur Général Délégué chez <a href="http://owni.fr" class="open-window">OWNI</a>/<a href="http://22mars.com" class="open-window">22mars</a>
        </h2>
        <p class="desc">
            OWNI est un media en ligne, pionnier français du Data Journalism.
        </p>
    </div>

    <br class="breaker" />
</section>